@use "sass:string";
@use "sass:math";
@use "sass:list";
@use "sass:selector";
@use "sass:color";

//// Funciones con cadenas de texto
@debug "ola";
@debug string.index("Helvetica Neue", "Neue");

$string: "Helvetica";
$newString: string.insert($string, " Bold", 10);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Roboto Mono");
@debug string.to-lower-case("Roboto Mono");

@debug string.unique-id();

//// Funciones con números
@debug math.$e;
@debug math.$pi;

@debug math.ceil(3.4);
@debug math.floor(3.8);
@debug math.round(4.3);

@debug math.clamp(0, 32.12, 10);

@debug math.max(2, 5, 93, 24, 32);
@debug math.min(2, 5, 93, 24, 32);

@debug math.abs(3);
@debug math.abs(-3);

@debug math.pow(2, 12);
@debug math.pow(2, math.abs(-25));

@debug math.cos(math.$pi);
@debug math.sin(math.$pi);
@debug math.tan(math.$pi);

//// Funciones con listas
$lista1: 10px, 10px, 0px, 20px;

@debug $lista1;
@debug list.append($lista1, 25px, space);

$border-custom: solid 1px #ccc;
@debug list.index($border-custom, 1px); // 2
@debug list.index($border-custom, 2px); // null

// $border-2: [solid, 1px, #ccc];
// @debug list.is-bracketed($border-2);

@debug list.join($lista1, $border-custom, auto);
@debug list.length(list.join($lista1, $border-custom, auto));
@debug list.separator($border-custom);
@debug list.separator(list.join($lista1, $border-custom, auto));

@debug list.set-nth($border-custom, 2, 2px);

//// Funciones de selector
$selector-1: "a";
$selector-2: ".disabled";
@debug selector.append($selector-1, $selector-2);

//// Funciones de color
$color: rgb(126, 182, 174);
@debug color.adjust($color, $red: -30, $alpha: -0.4);
$color-2: rgba(31, 202, 145, 0.5);

@debug color.complement($color);
$color-comp: #410cd3ad;
@debug darken($color, 20%);
$color-dark: #e6cdeb;
@debug lighten($color, 20%);
$color-light: #41d323;

@debug color.red($color);
@debug color.green($color);
@debug color.blue($color);

@debug color.hue($color);

@debug color.invert($color);
$color-inv: #1dae00;