@use "mixins";

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background-color: rgb(196, 224, 215);
    min-height: 100vh;;
}

h1 {
    @include mixins.text-format();
}

p {
    @include mixins.text-format(#2085f8);
}

.listado {
    width: 10rem;
    background-color: burlywood;
    padding: 0.3rem;

    ul {
        margin: 0 2rem ;

        li {
            list-style: none;
            &:hover {
                color: white;
            }
        }
    }
}